/* Style sheet for Tortioiseshell Project March 2018, Sarah Wynn */

html {
  font-size: 18px;
  line-height: 1.4px;
  font-family: Helvetica;
}

/* Titles & Background basic layout */

.site-container {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

#Hero {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: grey;
  background-position: 25% 35%; /* As the screen-size shrinks, the image disappears from all edges. */
  height: 31rem;
}

#top-banner {
  display: flex;
  justify-content: space-between;
  position: relative; /* N.B. all spacing relative to this element will be in relation to its non-positioned location!!! */
  top: 1rem; /* This drops the banner down by one rem but leaves the background picture covering up to the top of the page. */
  background-color: cadetblue;
  color: white;
}

.float-left {
  display: flex;
  align-items: center; /* Vertically aligns image with the words when display:flex */
  padding-left: 1rem;
  color: white;
}

.float-left img {
  /* padding: 1rem; */ /* Do not put vertical padding here as the height of the image messes with the total height of the banner. */
  padding-left: 1rem;
  height: 1.5rem;
}

.float-left span {
  padding: 1rem; /* Adds to .float-left padding-left to give required 2rem spacer. */
}

.float-right {
  display: flex;
  align-items: center;
  padding-right: 1rem;
  color: white;
}

.float-right span { /* This is the navigation section. */
  padding: 1rem; /* Adds to .float-right padding-right to give required 2rem spacer. */
}

#LookSee {
  display: inline-block;
  position: absolute; /* LookSee is a relative of top-banner which is position:relative; */
  top: 13rem; /* 13rem required to put 10rem between the borders of the two banners. */
  right: -2rem;
  background-color: white;
  padding: 1.5rem 5rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  color: black;
}

/* Service Offering Icons for basic layout */
/* Note that the design specs showed the icons with their tops aligned, but the mock-ups showed the icons with their bottoms aligned. */

#Services {
  display: inline-flex;
  justify-content: center; /* Positions the columns horizontally in the center */
  width: 100%; /* This is needed so justify-content knows where to find the center. */
}

#col1, #col2, #col3 {
  display: flex;
  flex-direction: column; /* Puts wording underneath icon */
  justify-content: space-between; /* Puts space between icons and associated wording */
  align-items: center; /* cross-axis positioning (in this case, horizontally centered)*/
  text-align: center; /* This centers the words with respect to each other. */
  padding: 3rem; /* Puts space between the columns, and between columns and the preceeding and following sections. */
  height: 8rem;
  width: 5rem;
}

#col1 img {
  width: 3.5rem;
  height: auto;
}

#col2 img, #col3 img {
  width: 5rem;
  height: auto;
}

/* Philosophy and Appointment Info */

#Philosophy {
  display: flex;
  justify-content: center;
}

#Philosophy div {
  margin-left: 2.5%;
  margin-right: 2.5%;
  width: 35%;
}

#Philosophy h1 {
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1.25rem;
  width: 7.5rem; /* The 10rems stated in the redline include 1.25remx2 of padding. */
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  background-color: azure;
  margin-top: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
/* This makes the background color 2rem wider than the site-container in each direction. */
  color: black;
}

footer img {
  height: 1.5rem;
  padding-left: 2rem; /* Gives the image 4rem distance to edge of background-color when combined with padding in footer. */
  padding-top: 4rem;
  padding-bottom: 4rem;
  vertical-align: middle;  /* Vertically aligns image with the words */
}

footer span {
  padding: 1rem; /* Puts 1rem space between img and span in footer */
}


/* Browser size adjustments */
/* Adjustments for large screen */
@media only screen and (min-width: 960px) {
  .medium {
    display: none;
  }
  .small {
    display: none;
  }
}

/* Adjustments for medium screen */
@media only screen and (max-width: 960px) and (min-width: 641px) {
  #top-banner {
    top: 0; /* This snaps the banner to the top of the background picture. */
  }
  .site-container {
    width: 100%;
  }
  #Hero {
    height: 22rem;
    background-position: 25% 35%;
  }
  #LookSee {
    top: 8rem; /* 8rem required to put 5rem between the borders of the two banners. */
    right: 2rem;
    padding: 0.75rem 4rem;
    font-size: 1.33rem;
  }
  .large {
    display: none;
  }
  .small {
    display: none;
  }
}

/* Adjustments for small screen */
@media only screen and (max-width: 640px) {
  .large {
    display: none;
  }
  .medium {
    display: none;
  }

  #top-banner {
    top: 0; /* This snaps the banner to the top of the background picture. */
  }
  .site-container {
    width: 100%;
  }
  #Hero {
    height: 17rem;
    background-position: 20%;
  }
  #LookSee {
    display: block;
    position: absolute; /* LookSee is a relative of top-banner which is position:relative; */
    top: 12rem; /* 12rem required to put 9rem between the borders of the two banners. */
    left: 0; /* This is needed to reset the horizontal offset. */
    text-align: center;
    background-color: white;
    padding: 1rem;
    width: 100%;
    font-weight: bold;
    font-size: 1rem;
  }
  #Services {
    display: flex;
    flex-direction: column;
    align-items: center; /* Positions the columns horizontally in the center */
    margin-bottom: 3.77rem; /* This adds to the padding at the bottom of the last service to give 3.77rem */
  }

  #col1, #col2, #col3 {
    display: flex;
    flex-direction: column; /* Puts wording underneath icon */
    text-align: center; /* This centers the words with respect to each other. */
    margin-bottom: 1.54rem; /* Puts space between the columns, and between columns and the preceeding and following sections. */
    padding: 0; /* Needed to remove padding from inherited desktop code. */
    height: auto;
    width: 5rem;
    font-size: 0.77rem;
  }

  #col1 img {
    margin-top: 3.77rem;
    margin-bottom: 1rem;
    width: 3.5rem;
  }

  #col2 img, #col3 img {
    margin-bottom: 1rem; /* puts space between image and description. */
    width: 5rem;
  }

  /* Philosophy and Appointment Info for small screens */

  #Philosophy {
    display: block;
    width: 100%;
    /* flex-wrap: wrap;
    align-content: center; */
  }

  #Philosophy div {
    width: 100%;
  }

  #Philosophy h1 {
    background-color: cadetblue;
    font-weight: bold;
    text-align: center;
    width: 100%;
  }

  #Philosophy p {
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 4rem;
    padding-left: 1rem; /* This just looks nicer */
    padding-right: 1rem; /* This just looks nicer */
    font-size: 0.77rem; /* As per small screen specs */
  }

/* Footer for small screens */

  footer {
    justify-content: center;
    margin-top: 5rem;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  footer img {
    padding-left: 0; /* reset */
  }

  footer span {
    display: none; /* Get rid of wording */
  }
}
